* {
  font-family: "roboto", Courier, monospace;
}
body {
  margin: 0;
  background-image: url(./image/Sprinkle.svg);
}
h1 {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  background-color: #aec3ae;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 3px 10px rgb(0, 0, 0, 0.22);
}

img {
  display: flex;
  padding: 10px;
}
.yes {
  background-color: #f4eeee;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 1px rgb(0, 0, 0, 1);
  text-decoration: none;
  color: black;
}
.no {
  text-decoration: none;
  margin-left: 130px;
  background-color: #f4eeee;
  padding: 10px;
  border: none;
  color: black;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 1px 3px 1px rgb(0, 0, 0, 1);
}
.yes:hover {
  background-color: rgb(79, 79, 255);
  color: white;
}

.no:hover {
  background-color: rgb(216, 74, 74);
  color: white;
}
.yes:active {
  transform: translateY(2px);
  box-shadow: none;
}
a {
  display: inline-block;
}
.no:active {
  transform: translateY(2px);
  box-shadow: none;
}
